* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #1b1e30;
    color: white;
}

header {
    text-align: center;
    padding: 2em;
}

.main-container {
    width: 27.5em;
    margin: auto;
}

.game {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 0 0 10px black;
}

.info {
    color: grey;
    cursor: pointer;
    font-size: 1em;
}

.info:hover {
    color: white;
    text-decoration: underline;
}

.modal {
    color: black;
    z-index: 1;
    display: none;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.modal-content {
    background-color: white;
    margin: 5.5em auto;
    width: 30em;
    min-width: 17.5em;
    padding: 1.5em;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.8);
    position: relative; 
    border-radius: 2px;
}
  
.modal-content p {
    padding: 0.5em 0;
}

.modal-content .button {
    margin: 1em 0;
}

#close-icon {
    position: absolute;
    right: 2em;
    font-size: 1.2em;
    cursor: pointer;
}

#close-icon:hover {
    color: red;
    font-weight: bold;
}

#close-button {
    font-weight: normal;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

#close-button:hover {
    background-color: #2fa32a;
}

.button {
    display: block;
    margin: 2em auto;
    border: none;
    background-color: rgb(18, 190, 41);
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(18, 190, 41, 0.75);
}

.button:active {
    background-color: rgba(18, 190, 41, 0.5);
    outline: none;
}

#user-in {
    display: block;
    margin: auto;
    outline: none;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    max-width: 7.5em;
    text-align: center;
    font-size: 1.5em;
}

#word-bank {
    width: 100%;
    min-height: 4em;
    text-align: center;
    margin: 1.5em 0;
}

#word-bank td {
    width: 33%;
    padding: 0 5px;
}

#word-bank td:nth-child(2) {
    font-size: 1.5em;
}

.green {
    background-color: #9dff82;
    color: black;
}

.red {
    background-color: #ff8e8e;
    color: black;
}

.red-text {
    color: red;
}

#score-table {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

#score-table td{
    width: 50%;
}

.highscore {
    margin-top: 3em;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0.5em;
    box-shadow: 0 0 10px black;
}

#highscore-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

#highscore-table td, th {
    width: 50%;
    text-align: center;
    font-weight: 500;
}

#highscore-table th {
    padding-bottom: 1em;
    font-weight: bold;
}

#highscore-table td {
    padding: 0.1em;
}

#highscore-table td:first-child {
    border-radius: 2px 0 0 2px;
}

#highscore-table td:last-child {
    border-radius: 0 2px 2px 0;
}

#highscore-table tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.2);
}
